*~
#*
*#
.#*
.classpath
.project
.settings/
.mvn/
target/
bin/
_site/
logs/
.idea
*.iml
*.ipr
*.iws
.factorypath
*.log
.shelf
*.swp
*.swo
*.versionsBackup

### STS ###
.apt_generated
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/